/* Wills COding area */
body {
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial Black;
}

.halfPage {
    display: grid;
    width: 100%;
    height: 800px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "left right"
}

.leftPage {
    grid-area: left;
    background-color: blue;
    border-bottom-right-radius: 1500px;
    width: 100%;
}

.rightPage {
    grid-area: right;
    text-align: center;
    padding-top: 50px;
}

.formz {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 35px;
}

.input1 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.input2 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.input3 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.signUpB {
    height: 50px;
    width: 200px;
    background-color: blue;
    border: 3px solid white;
    color: white;
    border-radius: 50px;
    font-family: arial black;
    font-size: 25px;
    margin-left: 200px;
}

.headerz {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Arial Black;
}

.takeMeThere {
    background-color: blue;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid blue;
    color: white;
    font-family: Arial black;
    font-size: 20px;
}

.imgGrid {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 0;
    left: 0;
}

.overlay1 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay2 {
    position: absolute;
    top: 15px;
    left: 27px;
}

.overlay3 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay4 {
    position: absolute;
    top: 15px;
    left: 147px;
}

.overlay5 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay6 {
    position: absolute;
    top: 15px;
    left: 267px;
}

.overlay7 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay8 {
    position: absolute;
    top: 15px;
    left: 387px;
}

.cityLogo {
    width: 525px;
}















































/* Alec's Coding Area */

nav{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    padding-bottom: 5px;
    background-color: white;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 7fr 3fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "first second third"
}

.nav_1{
    grid-area: first;
}

.nav_2{
    grid-area: second;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link{
    text-decoration: none;
    color: black;
    margin:0px 40px 0px 40px
}

.nav_3{
    grid-area: third;
    display: flex;
    align-items: center;
    gap: 60px
}

.double_tap{
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click{
    font-weight: 700;
    border-style: groove;
    border-radius: 9px;
    padding: 10px;
    font-size: 15px;
    width:110px;
    height:40px;
}

.pop{
    color: blue;
    border: 2px solid blue;
}

.pop:hover{
    color:rgb(117, 117, 117)
}

.pip:hover{
    color:rgb(124, 124, 124)
}

.pip{
    border: blue;
    background-color:blue;
}

.behemoth{
    height: 900px;
    width: 100%;
    background-color: red;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: column;
    grid-template-areas:
        "bernie sanders"
}

.main_image{
    width: 100%;
}

.top_left{
    grid-area:bernie;
}

.top_right{
    grid-area:sanders;
}















































/* Khoa Coding Area */
main {
    align-items: center;

}
.main-khoa {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;
    align-items: center;
}

.hero-khoa {
    width: 90%
}

.leftside-khoa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-form-khoa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-khoa {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon-khoa {
    width: 5%;
}

.icon-khoa {
    padding: 10px;
    min-width: 40px;
}

.input-khoa {
    border-radius: 50px;
    margin: 20px;
    height: 40px;
    width: 300px;
    text-align: center;
    background-image: url('../img/CRM-SignUp/Page-1.png');
			background-position: 5px 5px;
			background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 30px;
}

.button1 {
    color: white;
    background-color: rgb(46, 46, 243);
    font-weight: 300;
    width: 50%;
    justify-items: center;
    border-radius: 50px;
    height: 40px;
}

.button1:hover {
    background-color: white;
    color: black;
}

.smallSocial {
    width: 100%;
    height: 40px
}

.social-khoa {
    display: flex;
    gap: 20px;
}

.firstIcon {
    position: relative;
    width: 100%;
    height: 40px;
    background-size: cover
}

.logo1 {
    position: absolute;
    top: 12px;
    left: 30%;

    height: 15px;
    width: 15px;
    z-index: 2;
}

.background1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.horizon-khoa {
    width: 60%;
}

.explore-khoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro-header-khoa {
    font-size: 30px;
}

.intro-body-khoa {
    text-align: center;
    font-weight: lighter;
}

.small-image-khoa {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.icons-khoa {
    width: 60%;
}

.img-box-khoa {
    /* width: 100%;
    height: 50%; */
    margin-top: 50px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    height: 130px;
    width: 100px;
    vertical-align: center;
    margin-bottom: 40px;
}

.text-box-khoa {
    margin-top: 20px;
}

.img-box-khoa:hover {
    background-color: rgb(50, 50, 246);
    color: white;
}

.img-box-khoa:nth-child(4) {
    /* vertical-align: center; */
    display: table-cell;
    /* padding: 10px; */
    vertical-align: center;
}

.hero-landing-khoa {
    display: flex;
    justify-content: center;
    width: 80%;
    border: 1px black solid;
    /* margin-top: auto; */
    border-radius: 20px;
    margin: auto;
}

.hero-img-khoa {
    height: 400px;
    
}

.hero-header-khoa {
    font-size: 20px;
}

.box-text1-khoa {
    font-size: 14px;
}

.box-text-khoa {
    font-size: 10px;
    font-weight: normal;
}

.learn-more-khoa {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: rgb(50, 50, 246);
    border: white 3px solid;
    color: white;
    margin-top: 40px;
    background-image: url('../img/CRM-SignUp/3994400_arrow_forward_navigation_next_right_icon.png');
    background-position: 5px 5px;
			background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 170px;
}

.learn-more-khoa:hover {
    background-color: white;
    color:rgb(50, 50, 246)
}

.hero-text-khoa {
    height: 400px;
    vertical-align: center;
    /* border: solid red 1px; */
    gap: 5px;
    background-color: rgb(50, 50, 246);
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 30px;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    color: white;
    /* font-size: 20px; */
}

.lower-body-text-khoa {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-text-khoa {
    font-weight: normal;
}

.lower-header-khoa {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
    font-size: 20px;
}

.first-two-khoa {
    display: flex;
    gap: 200px;
    width: 800px;
    margin: auto;
    justify-content: center;

}

.lower-button-khoa {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: white;
    border: black 3px solid;
    color: black;
    margin-top: 40px;
    background-image: url('../img/CRM-SignUp/3994400_arrow_forward_navigation_next_right_icon.png');
    background-position: 5px 5px;
			background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 120px;
}

.lower-button-khoa:hover {
    background-color: rgb(50, 50, 246);
    color: white;
}

.four-icons-khoa {
    text-align: center
}

.four-icons-khoa p {
    font-size: 10px;
}

.last-two-khoa {
    display: flex;
    gap: 200px;
    width: 800px;
    margin: auto;
    justify-content: center;
}

.overlayEllipse-khoa {
    position: relative;
    z-index: -2;
    /* z-index: 0; */
    width: 100px;
    /* border: red solid 1px; */
    background-size: cover;
    /* padding: 10px; */
    /* top: 10px; */
}

.computer-khoa {
    position: absolute;
    z-index: -1;
    width: 70px;
    /* border: red 1px solid; */
    top: 30px;
    right: 38%
}

.img-gather-khoa {
    /* border: red 1px solid; */
    align-items: center;
    position: relative;
    padding: 10px;
}