/* Wills COding area */
body {
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial Black;
}

.halfPage {
    display: grid;
    width: 100%;
    height: 800px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "left right"
}

.leftPage {
    grid-area: left;
    background-color: blue;
    border-bottom-right-radius: 1500px;
    width: 100%;
}

.rightPage {
    grid-area: right;
    text-align: center;
    padding-top: 50px;
}

.formz {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 35px;
}

.input1 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.input2 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.input3 {
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 50px;
    height: 35px;
    width: 350px;
    background-image: url('../img/CRM-SignUp/Page-1.png');
    background-position: 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 0 5px 5px;
}

.signUpB {
    height: 50px;
    width: 200px;
    background-color: blue;
    border: 3px solid white;
    color: white;
    border-radius: 50px;
    font-family: arial black;
    font-size: 25px;
    margin-left: 200px;
}

.headerz {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Arial Black;
}

.takeMeThere {
    background-color: blue;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid blue;
    color: white;
    font-family: Arial black;
    font-size: 20px;
}

.imgGrid {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 0;
    left: 0;
}

.overlay1 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay2 {
    position: absolute;
    top: 15px;
    left: 27px;
}

.overlay3 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay4 {
    position: absolute;
    top: 15px;
    left: 147px;
}

.overlay5 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay6 {
    position: absolute;
    top: 15px;
    left: 267px;
}

.overlay7 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay8 {
    position: absolute;
    top: 15px;
    left: 387px;
}

.cityLogo {
    width: 525px;
}















































/* Alec's Coding Area */

nav{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    padding-bottom: 5px;
    background-color: white;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 7fr 3fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "first second third"
}

.nav_1{
    grid-area: first;
}

.nav_2{
    grid-area: second;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link{
    text-decoration: none;
    color: black;
    margin:0px 40px 0px 40px
}

.nav_3{
    grid-area: third;
    display: flex;
    align-items: center;
    gap: 60px
}

.double_tap{
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click{
    font-weight: 700;
    border-style: groove;
    border-radius: 9px;
    padding: 10px;
    font-size: 15px;
    width:110px;
    height:40px;
}

.pop{
    color: blue;
    border: 2px solid blue;
}

.pop:hover{
    color:rgb(117, 117, 117)
}

.pip:hover{
    color:rgb(124, 124, 124)
}

.pip{
    border: blue;
    background-color:blue;
}

.behemoth{
    height: 900px;
    width: 100%;
    background-color: red;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: column;
    grid-template-areas:
        "bernie sanders"
}

.main_image{
    width: 100%;
}

.top_left{
    grid-area:bernie;
}

.top_right{
    grid-area:sanders;
}















































/* Khoa Coding Area */
main {
    align-items: center;

}
.main-khoa {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;
    align-items: center;
}

.hero-khoa {
    width: 90%
}

.leftside-khoa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-form-khoa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-khoa {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon-khoa {
    width: 5%;
}

.icon-khoa {
    padding: 10px;
    min-width: 40px;
}

.input-khoa {
    border-radius: 50px;
    margin: 20px;
    height: 40px;
    width: 300px;
    text-align: center;
    background-image: url('../img/CRM-SignUp/Page-1.png');
			background-position: 5px 5px;
			background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 30px;
}

.button1 {
    color: white;
    background-color: rgb(46, 46, 243);
    font-weight: 300;
    width: 50%;
    justify-items: center;
    border-radius: 50px;
    height: 40px;
}

.smallSocial {
    width: 100%;
    height: 40px
}

.social-khoa {
    display: flex;
    gap: 20px;
}

.firstIcon {
    position: relative;
    width: 100%;
    height: 40px;
    background-size: cover
}

.logo1 {
    position: absolute;
    top: 12px;
    left: 30%;

    height: 15px;
    width: 15px;
    z-index: 2;
}

.background1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

/* .imgGrid {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 0;
    left: 0;
}

.overlay1 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay2 {
    position: absolute;
    top: 15px;
    left: 27px;
}

.overlay3 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay4 {
    position: absolute;
    top: 15px;
    left: 147px;
}

.overlay5 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay6 {
    position: absolute;
    top: 15px;
    left: 267px;
}

.overlay7 {
    position: relative;
    top: 0;
    left: 0;
}

.overlay8 {
    position: absolute;
    top: 15px;
    left: 387px;
} */